{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ajaxku</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'testoberon.css' %}">
</head>

<body>
    <div class="container justify-content-center" align=center>
        <h1>{{greetings}}</h1>
        <a class="btn btn-primary" href="{{urlto}}" role="button">SIGNUP</a>
        <a class="btn btn-primary" href="{% url 'accounts:login' %}" role="button">LOGIN</a>
        <form class="" action="{{urlto}}" method = 'post'>
            {% csrf_token %}
            <input class="btn btn-primary"type="submit" value="Logout">
        </form>
        <a class="btn btn-primary" href="/accounts/logout/" role="button">LOGOUT</a>

    </div>
</body>