{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <title>TestOberon</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'testoberon.css' %}">
</head>
    <body id="bodyd">
        <div class="container mt-3">
            <div class="d-flex justify-content-around mb-3" style="flex-wrap: wrap;">
                <h1 id="Header">
                    Welcome to Midsummer Test Dream!    
                </h1>
            </div>
            <div class="d-flex mt-5 justify-content-center">
                <form class="site-form" action="{% url 'homepage:homepage' %}" method="post">
                {% csrf_token %}
                <table style="color: #7AAF86;">
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Post!">
            </form>
            </div>

            {% for item in status %}
            <div class= "d-flex mt-3 box justify-content-center" >
                <div class = "statusfont">{{ item.title }}</div>
                <div class = "statusfont ml-auto">{{ item.time }}</div>
            </div>


            {% endfor %}
        </div>
    </body>
</html>