{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Accordion - Collapse content</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#accordion").accordion({
                collapsible: true
            });
        });
    </script>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'testoberon.css' %}">

</head>

<body id="body">
    <label class="switch">
        <input type="checkbox" name="theme">
        <span class="slider round"></span>
    </label>


    <div id="accordion">
        <h3>Aktivitas</h3>
        <div>
            <ul>
                <li>Kuliah</li>
                <li>Nangis</li>
                <li>NNN</li>
            </ul>
        </div>
        <h3>Organisasi/Kepanitiaan</h3>
        <div>
            <ul>
                <li>SBF Humas</li>
                <li>PEMIRA 2018</li>
                <li>CGT Fasilkom 2018</li>
            </ul>
        </div>
        <h3>Prestasi</h3>
        <div>
            <ul>
                <li>Masuk SMP 2 Depok</li>
                <li><strike>Masuk SWISS</strike></li>
                <li>Masuk UI hehe</li>
            </ul>
        </div>
    </div>
</body>
<script src="{% static 'jsku.js' %}"></script>

</html>