{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ajaxku</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'testoberon.css' %}">
</head>

<body>
    <div class="container">
        <h1>LOGIN</h1>
        <form class="site-form" action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            <table style="color: black;">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Login">
        </form>
    </div>
</body>